@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
    scroll-snap-type: y mandatory;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

/* *{
  border: 2px solid white;
} */

.one-full-page{
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
}

.first-page{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}



.first-page h1{
    color: #fff;
    margin-bottom: 0;
}


.display-none{
    color: #fff;
}

.hi, .name, .wait, .name2, .location{
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.name2{
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-left: 4px;
    position: relative;
}

/* @media screen and (max-width:800px){
  body{
    font-size: 2vmin;
  }
} */

.location{
    display: none;
    position: relative;
    gap: 50px;
    text-align: center;
}

.location p {
    font-size: 1.3rem;
    margin:0;
}

.social-media{
    color: #7A7C80;
    padding-top: 10px;
    display: none;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.social-media a{
    font-size: 1.5rem;
    padding: 0px 15px;    
}

.social-media a:hover{
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.contact{
  color: #7A7C80;
  padding-top:5px;
  display: none;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.image-container {

    display: none;
    justify-content: center;
    margin-top: auto;
}

.rcorners {
    margin: 10px;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0, 0);
}

.flip-container{
    perspective: 1000;
    -o-perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
}

.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
	}

.flipper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;

	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
}

.front {
	background: url(https://github.com/AmritRVardhan/SongRecommenderSystem/assets/91703308/67c43e20-d5d4-4bac-8d00-7dd4a1e9c6af) 0 0 no-repeat;
	/* z-index: 2; */
}

.flip-container, .front, .back {
	width: 300px;
	height: 400px;
}

.back {
  display: flex;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
  color: #fff;
	background: #101214;
	position: absolute;
	margin-top: 10px;
	left: 0;
	right: 0;
	text-align: center;
	/* padding: 0 20px; */
    /* font-family: arial; */
  line-height: 1em;
  align-items: center;
  justify-content: center;
}

.front .name {
	font-size: 2em;
	display: flex;
	background: rgba(33, 33, 33, 0.9);
	color:#008080;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	/* bottom: 60px; */
	/* left: 25%; */
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}


@keyframes slidedown {
    0% { margin-bottom:000px; }
    20% { margin-bottom:000px; }
    85% { margin-bottom:-333px; }
    100% { margin-bottom:-333px; }
}


@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.glitch2{ 
  display: none;
  writing-mode: vertical-lr;
  /* width: 100vw; */
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background: #131313;
  color: #7A7C80;
  font-size: 16px;
  font-family: 'Fira Mono', monospace;
  /* letter-spacing: -7px; */
  /* border: 2px solid white; */
  /* position: relative; */
  /* top: 100px; */
}

.animation_glitch{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(0, 2px) skew(0deg);
  }
  4%,60%{
    transform: translate(0,-2px) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch2:before,
.glitch2:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch2:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.second-page{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: normal;
  align-content: normal;
  margin: 25px;
  flex-shrink: 1 ;
  flex-grow: 1;
  /* float:left; */
  /* border: 2px solid white; */
  /* float: inherit; */
}

.second-page-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  max-width: calc(50vw - 50px);
  /* min-width: calc(50vw - 49px); */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  
  order: 0;
  /* align-self: auto; */
  /* border: 2px solid white; */
}

.second-page-columns div{
  /* border: 2px solid white; */
  margin:  0px 10px;
  flex-grow: 1;
  /* border-right: 1px solid; */
  /* border-image: linear-gradient(to top, rgb(62, 62, 63), rgb(179, 182, 187)); */
  /* border-image-slice: 121; */
}

.second-page-columns h2{
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: white;
}


.second-page-columns p, li{
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin:0;
  color: #adb1b8;
}

.second-page-columns a{
  display: block;
  padding: 5px;
  font-size: 1.2rem;
  padding-left: 0;
  width: 100px;
}
/* animations / utilities */
.second-page-columns a:hover{
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
b{
  /* display: block; */
  color:  #FF404C;
}

.second-page-columns:first-child ul {
  clear: both;
  display: table-row;
  list-style: none;
  border-spacing: 0px 10px;
}

.second-page-columns:first-child li {
  display: table-row;
  color: #ddd;
  /* border-spacing: 0px 10px; */
}
  
.second-page-columns:first-child li::before {
  display: table-cell;
  text-align: right;
  content: "+";
  font-size: 1em;
  font-weight: bold;
  color: #FF404C;
  padding-right: 12px;
  
}

.list {
  position: relative;
}
.list h2 {
  color: #fff;
  font-weight: 70;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul{
  position: relative;
}


.list ul li{
  position: relative;
  left: -10px;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #FF404C;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 0px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span b{
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FF404C;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before { 
  transform: scaleX(1);
}

.list ul li a {
  width: 100%;
  /* height: 100%; */
  color: inherit;
  text-decoration: inherit;
}

svg{
  height: 32px;
  width: 32px;
  margin: 0 2em;
  
}

.background-different{
  background: rgb(192, 192, 192);
  border-radius: 15px;
  /* margin: 16px 0; */
  box-shadow: 0 0 15px rgba(184, 183, 183, 0.85), 2px 2px 5px rgba(145, 143, 143, 0.9);
  /* border-radius: 4px; */
  padding: 16px;
  /* width: 160px; */
}

img {
  margin: 0px 5px;
}

@media screen and (max-width:1200px){
  html{
    scroll-snap-type: none;
  }
  .second-page{
    flex-direction: column;
  }
  .second-page-columns:nth-child(1){
    max-width: 100vw;
    order: 1;
  }
  .second-page-columns:nth-child(2){
    max-width: 100vw;
    order: 2;
  }
}

.Research a {
  width: 100%;
}
